body
{
	font-family: "微軟正黑體";
	background-attachment: fixed;
	color: #880000;
}
header
{
    position:fixed;
	left: 12.5%;
    top: 3%;
    bottom: 3%;
    width: 20%;
    color: #880000;
    background-color: rgba(255, 227, 194,0.8);
    border-radius: 20px;
    float: left;
}
.me
{
	width: 70%;
	position: relative;
	top: 2%;
	display: block;
	margin: auto;
	opacity: 0.9;
	transition: all .5s ease-out;
}
.me:hover
{
	transform: scale(1.05);
}
.motto
{
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 4%;
	opacity: 0.6;
	background-color: #FFFFF0;
	font-style: italic;
	font-weight: bold;
}
.name
{
	text-align: center;
	font-size: 50px;
	position: relative;
	top: 6.5%;

}
.ename
{
	text-align: center;
	font-size: 10px;
	position: relative;
	top: 6%;
	color: #AAAAAA;
	font-weight: bold;
}
.a
{
	position: relative;
	top: 8%;
	width: 70%;
	display: block;
	margin: auto;
}
.a:hover
{
	opacity: 0.8;
}
.b
{
	display: inline;
	position: relative;
	left: 12.0%;
	top: 0.3cm;
}
.b img
{
	transition: all .2s ease-out;	
}
.b img:hover
{
	transform: rotate(45deg);
}
.title
{
	position: absolute;
	text-align: center;
	font-size: 25px;
	background-color: rgba(244, 166, 98,0.8);
	width: 3.5cm;
	font-weight: bold;
	opacity: 0.8;
	border-radius: 10px;
	border-style: dotted;
	border-color: #CD853F;
	opacity: 0.7;
}
.time
{
	position: absolute;
	font-size: 25px;
	font-weight: bolder;
	color: #BF935A;
}
.time:hover
{
	font-size: 27px;
}
.ex
{
	position: absolute;
	left: 46%;
	font-size: 35px;
	text-align: center;
	color: #BF935A;
	width: 13cm;
	background-color: rgba(211, 181, 141,.4);
	border-radius: 10px;
	transition: all .5s ease-out;
}
.ex:hover
{
	color: white;
}
.pic
{
	width: 300px; height: 225px;
	overflow: hidden;
	border-radius: 10px;
	position: absolute;
	border: solid 4px white;
}
.pic img
{
	opacity: .8;
	transform:scale(1,1);
	transition: all 1s ease-out;
}
.pic img:hover
{
	opacity: 1;
	transform:scale(1.1,1.1);
}
.text
{
	color: rgb(128, 128, 128);
	position: absolute;
	left: 40%;
	width: 18.2cm;
	background-color: rgba(128, 128, 128,.25);
	border-radius: 5px;
	padding-left: 4px; 
	padding-top: 4px;
	padding-bottom: 4px;
	transition: all .5s ease-out;
}
.text:hover
{
	background-color: rgba(128, 128, 128,.1);
}
.text a
{
	color: rgb(128, 128, 128);
	text-decoration: none;
	background-color: rgba(211, 181, 141,.4);
	border-radius: 5px;
}
.text a:hover
{
	text-decoration: underline;
}